<div class="card mt-2">
  <div class="card-header">
    {{ title }} (<span
      ><strong>Fonte: </strong
      ><a [href]="sourceURL" target="_blank" rel="noopener noreferrer">{{
        sourceLabel
      }}</a
      >)</span
    >
    <span class="float-right"><strong>Ultimo aggiornamento: </strong> {{ timestamp }}</span>
  </div>

  <div class="card-body">
    <div class="badge-container">
      <app-observation-badge
        *ngFor="let obs of observations"
        [property]="obs.property.value"
        [propertyLabel]="obs.label.value"
        [value]="obs.value.value"
      ></app-observation-badge>
    </div>
  </div>
</div>
