<div class="card">
  <div class="card-header">
    Observations
  </div>
  <div class="card-body places-observations-body">
    <div>
      <app-properties-card
        [title]="'COVID-19'"
        [sourceLabel]="'Protezione Civile'"
        [sourceURL]="'https://github.com/pcm-dpc/COVID-19'"
        [observable]="sepaSubs.covid19Observations$"
      ></app-properties-card>
      <app-properties-card
        [title]="'Popolazione'"
        [sourceLabel]="'ISTAT'"
        [sourceURL]="'http://dati.istat.it/Index.aspx?DataSetCode=DCIS_POPRES1#'"
        [observable]="sepaSubs.istatObservations$"
      ></app-properties-card>
      <app-properties-card
        [title]="'Qualità dell\'aria'"
        [sourceLabel]="'aqicn.org'"
        [sourceURL]="'https://aqicn.org/api/'"
        [observable]="sepaSubs.aqiObservations$"
      ></app-properties-card>
    </div>
  </div>
</div>
